{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="container d-flex flex-column align-items-center">
    <button class="btn btn-fill-out btn-block">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
