{% extends 'baseBack.html.twig' %}

{% block title %}New Sponsor{% endblock %}

{% block body %}
<div class="container d-flex flex-column align-items-center">
    <h1>Create new Sponsor</h1>

    {{ include('sponsor/_form.html.twig') }}

    <a href="{{ path('app_sponsor_index') }}" class="btn btn-fill-out btn-block">back to list</a>
</div>
{% endblock %}
