<!DOCTYPE html>
<html lang="en" xmlns="">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="AliExprass" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Exclusively for all! Take advantage of up to -50% on these offers during our smart days. Shop smart with discounts on electronics, phones and home goods. Up to -50% Buyer Protection. Free Shipping. Summer promo. Great Value. A multitude of sellers.">
    <meta name="keywords" content="">

    <title>AliExprass - Shopping</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="assets/style.css">
    {% block stylesheets %} {% endblock %}

</head>


<body>
{% include "partials/header.html.twig" %}
{% block body %} {% endblock %}

{% include "reservation_r/reserver.html.twig" %}

{% include "partials/footer.html.twig" %}

{% block javascript %} {% endblock %}

<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/owlcarousel/js/owl.carousel.min.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/parallax.js"></script>
<script src="assets/js/jquery.countdown.min.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/jquery.dd.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.elevatezoom.js"></script>
<script src="assets/js/scripts.js"></script>

</body>

</html>