{% extends 'base.html.twig' %}

{% block title %}Global Conditions{% endblock %}

{% block body %}
    {{ include("partials/title_section.html.twig", {'name':'Global Condiotions'} )  }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h1 class="text-center">Global conditions usess of CULTUN ✅</h1>
    Because a Terms and Conditions agreement is the agreement where you inform the users of
    your website about the rules, terms and guidelines that they need to follow in order to use and access your website,
    a Terms and Conditions agreement has become extremely important.

    While it's not required by any laws currently (but third-parties such as Facebook may require it), through a Terms and Conditions
    you can maintain your rights to exclude certain users that may abuse your website or do not follow the rules you set.
    <p class="text-justify">

    </p>
</div>
{% endblock %}
