{% extends 'base.html.twig' %}

{% block title %}New Address{% endblock %}

{% block body %}

    {{ include("partials/title_section.html.twig", {'name':'Add Address'}) }}
    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>Add Address</h3>
                            </div>
                            <div class="content">
                                {{ include('address/_form.html.twig') }}
                                <a class="btn btn-block-fill btn-block mt-2" href="{{ path('app_account') }}">back to Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
